@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  display: flex;
  flex-direction: column;
  font-family: 'Pompiere', cursive;
  font-weight: 900; }

.fijo {
  position: fixed;
  bottom: 120px;
  right: 20px; }
  .fijo img {
    width: 50px;
    height: 5 0px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); }

hr {
  height: 4px !important;
  background-color: #84b6f4;
  margin: 0; }

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #FFFACD; }
  header div img {
    width: 100px;
    height: 100px; }
  header .nav_desk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    header .nav_desk ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0; }
      header .nav_desk ul li {
        list-style: none; }
        header .nav_desk ul li a {
          text-decoration: none;
          padding: 10px;
          font-size: 20px;
          color: black; }
  header .dropdown {
    display: none; }

main h1 {
  text-align: center;
  padding: 25px; }

main .tarjetas {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  main .tarjetas .productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
    -webkit-box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84); }
  main .tarjetas img {
    width: 100%;
    height: 80%; }
  main .tarjetas a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black; }
    main .tarjetas a:hover {
      background-color: #FFB6C1;
      font-weight: 700; }

main .espaciado {
  text-align: center;
  margin-top: 2%; }
  main .espaciado .espaciado_contacto {
    padding: 25px; }
    main .espaciado .espaciado_contacto .escribenos {
      color: #008866;
      font-size: 35px;
      text-decoration: none; }
    main .espaciado .espaciado_contacto span {
      text-align: center;
      font-size: 35px;
      margin-top: 20px;
      margin-bottom: 20px; }

main .formulario {
  width: 100%;
  max-width: 500px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #87CEFA;
  border-radius: 10px; }
  main .formulario form .textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey; }

main .parallax {
  width: 100%;
  height: calc(100vh);
  background-image: url(../img/pastelera.jpeg);
  background-attachment: fixed;
  background-position: revert;
  background-repeat: no-repeat;
  background-size: cover; }
  main .parallax .historia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    main .parallax .historia .presentacion {
      width: 45%;
      padding: 10px;
      color: white;
      line-height: 2rem;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .parallax .historia .presentacion img {
        width: 40%;
        border-radius: 15px; }

main .grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  row-gap: 15px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 10px; }
  main .grid .contenedor {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
    -webkit-box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84); }
    main .grid .contenedor img {
      width: 80%;
      height: 60%; }
    main .grid .contenedor .boton_compra {
      text-decoration: none;
      color: black;
      font-weight: 700;
      border-radius: 5px;
      padding: 5px;
      border: 1px solid black;
      margin: 5px; }
      main .grid .contenedor .boton_compra:hover {
        background-color: #ffb6c1;
        font-weight: 700; }

main .container {
  display: grid;
  row-gap: 15px;
  margin: 15px auto; }
  main .container .row div {
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
    -webkit-box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84); }
    main .container .row div img {
      width: 70%;
      height: 150px;
      margin: 5px; }

footer {
  background-color: #FFFACD; }
  footer .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto; }
    footer .footer div p {
      margin: 0; }
    footer .footer div iframe {
      margin: 3px; }

@media screen and (max-width: 420px) {
  main .tarjetas .productos {
    display: flex;
    flex-direction: column;
    border: 1px solid black; } }

@media screen and (max-width: 632px) {
  header {
    justify-content: space-around; }
    header .nav_desk {
      display: none; }
    header .dropdown {
      display: unset; } }

@media screen and (max-width: 1029px) {
  footer .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    justify-items: center; }
  footer .footer div {
    margin: 10px 0; } }

@media screen and (max-width: 1070px) {
  main .grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 710px) {
  main .grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr; } }

@media screen and (max-width: 1200px) {
  main .tarjetas .productos {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 400px; } }
