@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* paleta de colores #ff6961, #77dd77, #fdfd96, #84b6f4, #fdcae1 #f3f1cf

Color crema o beige (#F5F5DC)
Marrón chocolate (#6B3E26)
Rosa pastel (#FFB6C1)
Verde menta (#98FB98)
Amarillo suave (#FFFACD)
Azul celeste (#87CEFA)

*/
html,
body {
    display: flex;
    flex-direction: column;
    font-family: 'Pompiere', cursive;
    font-weight: 900;
}

/* header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFACD;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown {
    display: none;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header nav ul li {
    list-style: none;

}

header nav ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: black;
}

hr {
    height: 4px !important;
    background-color: #84b6f4;
    margin: 0;
}

/* main */

main h1 {
    text-align: center;
    padding: 25px;
}

.tarjetas {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
    -webkit-box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
}

.productos img {
    width: 100%;
    height: 80%;
}

.productos a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.productos a:hover {
    background-color: #FFB6C1;
    font-weight: 700;
}

.espaciado {
    text-align: center;
    margin-top: 2%;
}

.espaciado_contacto {
    padding: 25px;
}

.escribenos {
    color: #008866;
    font-size: 35px;
    text-decoration: none;
}

main span {
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fijo {
    position: fixed;
    bottom: 120px;
    right: 20px;
}

.fijo img {
    width: 50px;
    height: 5 0px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* MAIN CONTACTO*/
.formulario {
    width: 100%;
    max-width: 500px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #87CEFA;
    border-radius: 10px;
}

.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
  }
/* MAIN NOSOTROS*/
.parallax {
    width: 100%;
    height: calc(100vh);
    background-image: url(../img/pastelera.jpeg);
    background-attachment: fixed;
    background-position: revert;
    background-repeat: no-repeat;
    background-size: cover;
}

.historia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.presentacion {
    width: 45%;
    padding: 10px;
    color: white;
    line-height: 2rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion img {
    width: 40%;
    border-radius: 15px;
}

/* footer */

footer {
    background-color: #FFFACD;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.footer div p {
    margin: 0;
}

iframe {
    margin: 3px;
}

/* MAIN PASTELERIA Y REPOSTERIA  */

.contenedor {
    width: 350px;
    height: 300px;
   
}

.contenedor img {
    width: 80%;
    height: 60%;
}
.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 15px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
    -webkit-box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
}

.grid div a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
}

.grid div a:hover {
    background-color: #ffb6c1;
    font-weight: 700;
}
/* MAIN gourmet  */
.container {
    display: grid;
    row-gap: 15px;
    margin: 15px auto;
}


.row div {
    margin:0;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
    -webkit-box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.84);
}
.row div img {
    width: 70%;
    height: 150px;
    margin: 5px;
}

/*MEDIA QUERYS*/

@media screen and (max-width: 420px) {
    .productos {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
    }
}

@media screen and (max-width: 632px) {
    header {
        justify-content: space-around;
    }

    .nav_desk {
        display: none;
    }

    .dropdown {
        display: unset;
    }
}

@media screen and (max-width: 1029px) {
    .footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        justify-items: center;
    }

    .footer div {
        margin: 10px 0;
    }
}

@media screen and (max-width: 1070px) {
    .grid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 710px) {
    .grid {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .productos {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 400px;
        height: 400px;
    }
}