footer {
    background-color: $color-header-footer;// COLOR DE FONDO DEL FOOTER//
    .footer{
        @include flexbox (flex,row,space-between,center);
        justify-items: center;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        div{// EL LOGO DE LA PAGINA//
            .img-logo{
                width:100px; 
                height:100px;  
            }
        }
        div{
            p{
                margin: 0;//ESTILO PARA QUE EL PARRAFO OCUPE EL MENOR ESPACIO POSIBLE //
            }
        }
        div{
            iframe{//ESTILOS PARA AJUSTAR AL FOOTER LA UBICACION EN GOOGLE MAPS //
                width:250px; 
                height:100px;
                border: 1px solid black;
                margin: 3px;
            }
        }
    }
}