@media screen and (max-width: 420px) {
    main {
        .tarjetas {
            .productos {
                display: flex;
                flex-direction: column;
                border: 1px solid $color-a;
            }
        }
    }
}

@media screen and (max-width: 632px) {
    header {
        justify-content: space-around;
        align-items: center;
        .nav_desk {
            display: none;
        }
        .nav-movil {
            position: relative;
            display: inline-block;
            &:hover{
                .dropdown-content{
                    max-height: 200px; /* Ajusta la altura máxima según tu contenido */
                    opacity: 1;
                    visibility: visible;    
                    }
                }
            }             
            .dropbtn {
                background-color: $color-hr;
                color: white;
                padding: 10px;
                font-size: 16px;
                border: none;
                border-radius:3px;
                cursor: pointer;
              }
            .dropdown-content {
                display: block;
                max-height: 0;
                border-radius: 10px;
                overflow: hidden;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 120px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
                a {
                    display: block;
                    text-decoration: none;
                    color: black;
                    padding: 3px;
                  }
              }   
          
          
    }
}

@media screen and (max-width: 1029px) {
    footer {
        .footer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            justify-items: center;
        }

        .footer div {
            margin: 10px 0;
        }
    }
}

@media screen and (max-width: 1070px) {
    main {
        .grid {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 710px) {
    main {
        .grid{
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 1200px) {
    main {
        .tarjetas {
            .productos {
                margin-top: 10px;
                margin-bottom: 10px;
                width: 400px;
                height: 400px;
            }
        }
    }
}